@font-face {
    font-family: 'child';
    src: url('./child.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

div {
    font-size: 1cm;
    font-family: 'child';
    color: pink;
    background: url(./img/test.png);
}